:root {
    --DtgA-Border-Color: rgba(133, 255, 225, 0.5);
}
.DtgA-Text-Color {color: #84ffe0 !important; }
.DtgA-Text-Color-Body {color: #b9b9b9  !important; }
.HomeLogoContainer {
    width: 100%;
    text-align: center;
}
.HomeLogo {
    max-width: 100%;
}
@media (min-width: 1173px) {
    .HomeLogo {
        max-width: 1173px;
    }
}
@font-face {
    font-family: 'ZeldaFont';
    src: url(../Fonts/TheWildBreathOfZelda-15Lv.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
.HomeButtons {
    /* Custom button colors */
    border-color: #84ffe0 !important;
    border-width: 4px;
    border-radius: 250px;
    height: 75px;
    width: 220px;
    font-family: "ZeldaFont";
    font-size: 30px;
    transition: transform 0.2s ease, background-color 0.2s ease, -webkit-text-fill-color 0.2s ease;
}
.HomeButtons:hover {
    background-color: #84ffe0 !important;
    border-color: #84ffe0 !important;
    -webkit-text-fill-color: black;
    border-width: 2px;
    border-radius: 250px;
    width: 220px;
    height: 75px;
    transform: scale(1.1);
}
.navbar-height {height: 50px;}
.navbar {z-index: 1010;}
@media (min-width: 768px) {
    .navbar-nav {
        border-bottom: 2px solid #84ffe050;
        border-left: 2px solid #84ffe050;
        padding-left: 5px;
    }
}
.navbar-nav {
    border: none;
}

.navbar-toggler {
    border-color: #84ffe050;
    border-radius: 10px;
    min-height: 4vh
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.home-dropdown-menu {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    border-color: #84ffe050;
}
.home-dropdown-item:hover {
    background-color: rgba(128, 128, 128, 0.1);
}
.home-dropdown-item-top:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.home-dropdown-item-bottom:hover {
    background-color: rgba(128, 128, 128, 0.1);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
@media (max-width: 767px) {
    .home-navbar-nav {
        background-color: rgba(0, 0, 0, 0.85);
        border-bottom: 2px solid #84ffe050;
        text-align: right;
        padding-right: 10px;
    }
    .home-dropdown-menu {
        background-color: rgba(0, 0, 0, 0);
        text-align: right;
        padding-right: 10px;
    }
    .custom-navbar-dropdown {
        text-align: right;
        padding-right: 10px;
    }
}
.HomeBars {
    color: #84ffe0;
}
.navbar-toggler {
    border-color: #84ffe050;
}
.social-media-buttons a {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.social-media-buttons a:hover {
    opacity: 0.7;
}