:root {
    --DtgA-Border-Color: rgba(133, 255, 224, 0.5);
    --DtgA-Title-Text: rgba(133, 255, 224, 1) !important;
    --DtgA-primary: 133, 255, 225;
}

main {
    pointer-events: none;
}

/*** Page Wide CSS ***/
.Home-body {
    height: calc(var(--vh, 1vh) * 100);
}

.Home-main {
    position: fixed;
}

.DtgA-Title-Text {
    color: var(--DtgA-Title-Text) !important;
}

.DtgA-Standard-Text {
    color: #b9b9b9 !important;
}

/*** Particles ***/
#particles-js {
    height: calc(var(--vh, 1vh) * 100);
}

/*** Navbar ***/
.navbar-height {
    max-height: 70px;
}

.navbar {
    z-index: 1010;
}

.nav-link {
    color: var(--DtgA-Title-Text);
    font-family: "ZeldaFont";
    text-transform: uppercase;
    font-size: 18px;
}

.nav-link:hover {
    color: var(--DtgA-Title-Text);
}

.nav-toggler-icon {
    color: #84ffe0;
    font-size: 22px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.navbar-toggler {
    border-color: var(--DtgA-Border-Color);
    background-color: rgba(133, 255, 225, 0.05);
    border-width: 2px;
    border-radius: 10px;
    min-height: 4vh
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.home-dropdown-menu {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 8px black;
    border-radius: 20px;
    border-width: 2px;
    border-color: var(--DtgA-Border-Color);
    background-image: transparent;
    text-align: center;
    left: -43px !important;
}

.home-navbar-nav {
    border-bottom: 0px solid #000000;
}

.navbar-toggler {
    border-color: #84ffe050;
}

.dropdown-item {
    font-family: "ZeldaFont";
    text-transform: uppercase;
    font-size: 14px;
}

/*** Icon ***/
.HomeLogoContainer {
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.HomeLogo {
    max-width: 100%;
    pointer-events: none;
}

/*** Title Text ***/
.HomeTitleContainer {
    text-align: center;
    padding-top: 5vh;
    color: rbg(var(--DtgA-primary));
}

.HomeTitle {
    font-family: "ZeldaFont";
    color: rgb(var(--DtgA-primary));
}

/*** Buttons ***/
.HomeButtons {
    border-color: rgba(133, 255, 224, 0.7);
    border-width: 4px;
    border-radius: 250px;
    border-style: solid;
    height: 75px;
    width: 220px;
    font-family: "ZeldaFont";
    font-size: 30px;
    background-color: rgba(133, 255, 224, 0.082);
    pointer-events: all;
}

/*** Social Media Buttons ***/
.social-media-buttons {
    pointer-events: all;
}

.social-media-buttons a {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    left: -10px;
    color: grey;
    z-index: 1;
    position: relative;
    transition: all 0.2s ease;
}

.social-media-buttons a:hover {
    opacity: 0.7;
}

.social-media-buttons a:hover:nth-child(1) {
    color: #3b5998;
}

.social-media-buttons a:hover:nth-child(2) {
    color: whitesmoke;
}

.social-media-buttons a:hover:nth-child(3) {
    color: #dd4b39;
}

.social-media-popover {
    font-size: smaller;
    background-color: color-mix(in srgb, rgba(var(--DtgA-primary), 0.5) 10%, rgb(var(--DtgA-Secondary)));
    border: 1px solid rgba(var(--DtgA-primary), 0.5);
}

.social-media-popover .popover-body {
    color: color-mix(in srgb, rgb(var(--DtgA-primary)) 20%, rgb(var(--DtgA-Standard-Text)) 80%);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-weight: 700;
}

.social-media-popover .popover-arrow {
    padding-left: 10px;
}


/*** Size Specific CSS ***/
    /*** Desktop ***/
    @media (min-width: 991px) {

        /*** Navbar ***/
        .nav-item {
            background-repeat: no-repeat;
            background-position: center;
            background-image: radial-gradient(ellipse closest-side, rgba(133, 255, 224, 0.12)40%, transparent 110%);
            background-size: 0% 0%;
            transition: background-size 0.2s ease-in-out;
        }

        .nav-item:hover {
            background-size: 100% 100%;
            background-image: radial-gradient(ellipse closest-side, rgba(133, 255, 224, 0.12)40%, transparent 110%);
        }
        
        .home-dropdown-item {
            color: var(--DtgA-Title-Text);
            background-image: radial-gradient(ellipse, rgba(133, 255, 224, 0.15)15%, transparent 75%);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 25% 0%;
            transition: background-size 0.15s linear;
        }

        .home-dropdown-item:hover {
            color: var(--DtgA-Title-Text);
            background-color: transparent;
            background-size: 100% 100%;
        }

        /*** Buttons ***/
        .HomeButtons {
            transition: all 0.35s ease;
        }

        .HomeButtons:hover,
        .HomeButtons:active {
            background-color: rgba(133, 255, 224, 0.7);
            color: black !important;
            border-width: 0px;
            transform: scale(1.05);
            box-shadow: 0px 0px 10px 5px rgba(133, 255, 224, 0.5);
        }
    }
    /*** Mobile ***/
    @media (max-width: 991px) {

        /*** Navbar ***/
        .home-navbar-nav {
            background-color: rgba(0, 0, 0, 0.85);
            background-image: linear-gradient(to top, rgba(133, 255, 224, 0.08)60%, rgba(133, 255, 224, 0) 95%);
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            text-align: right;
            padding-right: 10px;
            box-shadow: 0 .4rem 1rem rgba(133, 255, 224, 0.04);
        }

        .home-dropdown-menu {
            background-color: rgba(0, 0, 0, 0.05);
            text-align: right;
            padding-right: 10px;
            margin-left: 10px;
        }

        .custom-navbar-dropdown {
            text-align: right;
            padding-right: 10px;
        }

        .HomeButtons:target,
        .HomeButtons:active {
            background-color: rgba(133, 255, 224, 0.7) !important;
            color: #000000 !important;
        }
    }

/*** Fonts ***/
@font-face {
    font-family: 'ZeldaFont';
    src: url(../Fonts/TheWildBreathofZelda.otf) format('opentype');
    font-style: normal;
    font-weight: normal;
}