:root {
    --DtgA-Border-Color: rgba(133, 255, 225, 0.5);
}
#DtgA-navbar {
    background-color:  rgba(32, 36, 40, 0.98);
    background-image: linear-gradient(to top, rgba( 133, 255, 224, 0.07), rgba( 133, 255, 224, 0) 75%);
    border-radius: 0 0 12px 12px;
    border-radius: 0 0 12px 12px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-height: 70px;
}
@media (max-width: 991px) {
    #DtgA-navbar {
        max-height: fit-content;
    }
    .custom-navbar-dropdown {
        text-align: right;
        padding-right: 10px;
        background-color: rgb(0, 0, 0, 0.1);
    }
    
} 
.NavContainer {
    padding-left: 0%;
    padding-right: 0%;
}
.navbar-nav {
    text-align: right;
}

/* Custom text colors used across the site */
.DtgA-Text-Color {color: #84ffe0 !important; }
.DtgA-Text-Color-Body {color: #b9b9b9  !important; }
@font-face {
    font-family: 'ZeldaFont';
    src: url(../Fonts/TheWildBreathOfZelda-15Lv.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Custom button colors */
.custom-button-text-color {color: #84ffe0 !important;}
.custom-button-GS {
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-color: var(--DtgA-Border-Color) !important;
    border-radius: 10px;
    transition: transform 0.2s ease, background-color 0.2s ease, -webkit-text-fill-color 0.2s ease;
}
.custom-button-GS:hover {
    background-color: #84ffe0 !important;
    -webkit-text-fill-color: black;
    transform: scale(1.05);
}
.list-group-GS {
    border-color: var(--DtgA-Border-Color) !important;
    border-width: 2px;
}
.GS-card {
    border-color: var(--DtgA-Border-Color) !important;
    border-radius: 10px;
    border-width: 2px;
    width: 640px;
}
/* Custom navbar details*/

    
.navbar {z-index: 1010;}
.navbar-toggler {
    border-color: #84ffe050;
    border-radius: 10px;
    min-height: 4vh
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler {
    border-color: #84ffe050;
}

/* Defines how the Social Media Buttons look */
.social-media-buttons a {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
 }
 .social-media-buttons a:hover {
    opacity: 0.7;
 }
/* Made to have section titles stick to the top of the page */ 
.sticky-top {
  padding: 10px;
  margin-bottom: 20px;
  z-index: 998;
}
.TOC-container {
    border-radius: 10px;
    box-shadow: 0.5rem 1rem rgba( 133, 255, 224, 0.15);
}
.TOC-item {
    border-color: var(--DtgA-Border-Color);
    border-width: 2px;
}
#tableOfContents {
    z-index: 999;
    padding-left: 10px;
    
}
.DtgA-section-title {
    font-family: "ZeldaFont";
}
/* Fixes getting started page from having z-index issues */
.list-group {z-index: 996;}
/* Gives the cards a pop effect */
.item-card {
    z-index: 997;
    border-color: rgba(133, 255, 224, 0.8);
    border-radius: 20px;
    border-width: 2px;
    transition: transform 0.2s ease;
}
.item-card:hover {
    transform: scale(1.03);
}
.item-card-image {
/* radial gradient background, starts strong in the middle and fades to the sides */
    background-image: radial-gradient(rgba( 133, 255, 224, 0.10) 20%, transparent 75%);
}
.item-card-title {
    font-family: "ZeldaFont";
}